**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.venv
**/.vscode
**/*.example
**/*.py#
**/*.py~
**/*.pyc
**/node_modules
**/npm-debug.log
**/README.md
**/static/
